In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('E:\Gem-stone-price-prediction-End-to-End-MLpipeline\data\cubic_zirconia.csv')

In [3]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

Information about Variables

Carat -> Carat weight of the cubic zirconia.

Cut ->  Describe the cut quality of the cubic zirconia. Quality is increasing order Fair,Good,Very Good,Premium,Ideal.

Color ->  Colour of the cubic zirconia.With D being the best and J the worst.

Clarity ->  cubic zirconia Clarity refers to the absence of the Inclusions and Blemishes. (In order from Best to Worst,

FL= flawless, I3= level 3 inclusions) FL, IF, VVS1, VVS2, VS1, VS2, SI1, SI2, I1, I2, I3

Depth ->  The Height of a cubic zirconia, measured from the Culet to the table, divided by its average Girdle Diameter.

Table ->  The Width of the cubic zirconia's Table expressed as a Percentage of its Average Diameter.

Price ->  the Price of the cubic zirconia.

X -> Length of the cubic zirconia in mm.

Y ->  Width of the cubic zirconia in mm.

Z ->  Height of the cubic zirconia in mm.

In [4]:
data.sample(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
4465,4466,0.35,Ideal,F,SI1,62.5,54.0,4.50,4.52,2.82,583
17502,17503,0.30,Ideal,E,VS2,62.1,55.0,4.32,4.35,2.69,621
9426,9427,1.10,Ideal,F,I1,61.3,57.0,6.68,6.62,4.08,3690
222,223,0.55,Premium,E,VS2,61.4,57.0,5.29,5.27,3.24,1881
551,552,0.62,Ideal,D,VS2,61.2,56.0,5.49,5.52,3.37,2243
17254,17255,1.19,Ideal,H,I1,61.5,57.0,6.79,6.83,4.19,3665
24357,24358,1.28,Premium,H,SI1,62.7,58.0,6.88,6.94,4.33,6580
2918,2919,0.30,Very Good,H,VVS2,60.8,58.0,4.34,4.37,2.65,605
9791,9792,0.54,Ideal,G,VS1,61.7,56.0,5.22,5.25,3.23,1809
10999,11000,1.26,Very Good,H,VS2,63.8,52.0,6.89,6.84,4.38,7567

In [5]:
data.isnull().sum()

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

In [6]:
data.shape

(26967, 11)

In [7]:
data.dropna(axis=0,inplace=True)

In [8]:
data.shape

(26270, 11)

In [9]:
data.nunique()

Unnamed: 0    26270
carat           256
cut               5
color             7
clarity           8
depth           169
table           112
x               530
y               525
z               354
price          8629
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26270 entries, 0 to 26966
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26270 non-null  int64
 1   carat       26270 non-null  float64
 2   cut         26270 non-null  object
 3   color       26270 non-null  object
 4   clarity     26270 non-null  object
 5   depth       26270 non-null  float64
 6   table       26270 non-null  float64
 7   x           26270 non-null  float64
 8   y           26270 non-null  float64
 9   z           26270 non-null  float64
 10  price       26270 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 2.4+ MB

In [11]:
cat_columns = data.columns[data.dtypes=='object']

In [12]:
num_columns = data.columns[data.dtypes!='object']

In [13]:
data[cat_columns]

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26270 rows x 3 columns]

In [14]:
data[num_columns]

       Unnamed: 0  carat  depth  table     x     y     z  price
0               1   0.30   62.1   58.0  4.27  4.29  2.66    499
1               2   0.33   60.8   58.0  4.42  4.46  2.70    984
2               3   0.90   62.2   60.0  6.04  6.12  3.78   6289
3               4   0.42   61.6   56.0  4.82  4.80  2.96   1082
4               5   0.31   60.4   59.0  4.35  4.43  2.65    779
...           ...    ...    ...    ...   ...   ...   ...    ...
26962       26963   1.11   62.3   58.0  6.61  6.52  4.09   5408
26963       26964   0.33   61.9   55.0  4.44  4.42  2.74   1114
26964       26965   0.51   61.7   58.0  5.12  5.15  3.17   1656
26965       26966   0.27   61.8   56.0  4.19  4.20  2.60    682
26966       26967   1.25   62.0   58.0  6.90  6.88  4.27   5166

[26270 rows x 8 columns]